<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>YOLO Inference</title>
    <link rel="stylesheet" href="/static/styles/styles.css" />
  </head>
  <body>
    <div class="container">
      <h1>Welcome to YOLO Inference</h1>
      <p>
        This app uses a trained YOLO model to detect objects in images and
        videos. Choose an option below to get started.
      </p>
      <div style="margin-top: 2rem">
        <a href="/image" class="btn">Predict Image</a>
        <a href="/video" class="btn">Process Video</a>
      </div>
    </div>
  </body>
</html>
